.sidebar {
  height: 100vh;
  background-color: var(--gray-dark);
  overflow-x: hidden;
  padding-top: 20px;
  width: 10em;
  transition: flex 0.3s ease-in-out;
}

@media screen and (max-width: 500px) {
  .sidebar {
    width: 0;
  }
}